body{background: #FFFFFF;}
.BdrBot3{ border-bottom:1px solid #D9D9D9;}
.Bdr1{ border:1px solid #D9D9D9;}
.Gray{color:#414141;}
.Light16{Font-Family: Arial, Helvetica, sans-serif;Font-Size: 16px; Font-weight:normal; }
.BdrRight{ border-right:1px solid #D9D9D9;}
.Pad{ padding:5px;}
.BgGray{ background:#ECECEC;}
.Pad2{ padding-left:5px; padding-right:5px;}
.Light11{Font-Family: arial, Helvetica, sans-serif;Font-Size: 11px; Font-weight:normal; }
.Light12{Font-Family: Arial, Helvetica, sans-serif;Font-Size: 12px; Font-weight:normal; }