<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow roles="admin" />
      <allow roles="Administrator" />
      <deny roles="Contributor" />
      <deny roles="Editor" />
      <deny roles="guest" />
    </authorization>
  </system.web>
</configuration>
