<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
  <!--<location path="accessdenied.aspx"/>-->
    <system.web>

     
      
      <!--<customErrors mode="On" redirectMode="ResponseRedirect" defaultRedirect="../ViewAll_Records.aspx"/>
      <customErrors defaultRedirect="Error.aspx" mode="On">
        <error statusCode="401" redirect="accessdenied.aspx"/>
        <error statusCode="403" redirect="accessdenied.aspx" />
      </customErrors>-->
      
      <authorization>
        <allow users="admin"/>
          <deny users="guest"/>
        </authorization>

    </system.web>
</configuration>
